In [214]:
import pandas as pd
import numpy as np 

path="C:\\Users\\Patosky\\Documents\\cours_simplon\\developpeur_data_ia\\19.04.21\\all-ages.csv"
data_ages=pd.read_csv(path, sep=',', encoding='utf-8')
path="C:\\Users\\Patosky\\Documents\\cours_simplon\\developpeur_data_ia\\19.04.21\\recent-grads.csv"
data_grads=pd.read_csv(path, sep=',', encoding='utf-8')

data_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

#introduction au dataset

afficher les 5 premières lignes de data_grads et data_ages

In [215]:
data_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [216]:
print(data_ages.head(5))

   Major_code                                  Major  \
0        1100                    GENERAL AGRICULTURE
1        1101  AGRICULTURE PRODUCTION AND MANAGEMENT
2        1102                 AGRICULTURAL ECONOMICS
3        1103                        ANIMAL SCIENCES
4        1104                           FOOD SCIENCE

                    Major_category   Total  Employed  \
0  Agriculture & Natural Resources  128148     90245
1  Agriculture & Natural Resources   95326     76865
2  Agriculture & Natural Resources   33955     26321
3  Agriculture & Natural Resources  103549     81177
4  Agriculture & Natural Resources   24280     17281

   Employed_full_time_year_round  Unemployed  Unemployment_rate  Median  \
0                          74078        2423           0.026147   50000
1                          64240        2266           0.028636   54000
2                          22810         821           0.030248   63000
3                          64937        3619           0.042679   46000
4                          12722         894           0.049188   62000

   P25th    P75th
0  34000  80000.0
1  36000  80000.0
2  40000  98000.0
3  30000  72000.0
4  38500  90000.0

nombres d'étudiants par catégorie de Major

Pour chaque valeur unique (utilisation d'une boucle for?):
- Retourner toutes les lignes où Major_category vaut cette valeur unique.

- Calculer le nombre total d'étudiants représentant cette catégorie de major
(colonne Total à sommer)

- Vous garderez en mémoire ce résultat sous la forme d'un dictionnaire
contenant une Major_category en clé et le nombre d'étudiants en valeur.

In [217]:
#détection des valeurs NA

na_major_category=data_grads['Major_category'].isna().sum()
null_major_category=data_grads['Major_category'].isnull().sum()
print(na_major_category, null_major_category )

#relevé des valeurs uniques 
major_category_unique=data_grads['Major_category'].unique()
dict_category={}
for category in major_category_unique:
    mask=data_grads['Major_category']==category
    dict_category[category]=data_grads['Total'][mask].sum()

dict_category

0 0

{'Engineering': 537583,
 'Business': 1302376,
 'Physical Sciences': 185479,
 'Law & Public Policy': 179107,
 'Computers & Mathematics': 299008,
 'Agriculture & Natural Resources': 79981,
 'Industrial Arts & Consumer Services': 229792,
 'Arts': 357130,
 'Health': 463230,
 'Social Science': 529966,
 'Biology & Life Science': 453862,
 'Education': 559129,
 'Humanities & Liberal Arts': 713468,
 'Psychology & Social Work': 481007,
 'Communications & Journalism': 392601,
 'Interdisciplinary': 12296}

Nombre d'étudiants par catégorie de major

Mission:
- Créer une fonction dans laquelle vous utiliserez la colonne Total pour
calculer le nombre d'étudiants pour chaque catégorie de Major
Major_category ) dans chaque dataset
- Stocker le résultat dans 2 dictionnaires distincts
- La clé pour chaque dictionnaire sera Major_category et la valeur le total d'étudiants
- Pour le dataset all_ages , stocker le résultat dans un dictionnaire qu'on nommera aa_car_counts
- Pour le dataset recent_grads , stocker le résultat dans un dictionnaire qu'on nommer arg_cat_counts
- Autre méthode: Utiliser un pivot de table.
- Afficher les 2 dictionnaires.

In [218]:
"""def count_critere(dataset, critere, count ):
    dict_critere={}
    for category in dataset[critere].unique():
        mask=dataset[critere]==category
        dict_critere[category]=dataset[count][mask].sum()
    return dict_critere"""

def count_critere(dataset, critere, count ):
    temp=data_grads[['Major_category', 'Total']].groupby('Major_category').sum()
    temp=temp.T.reset_index(drop=True).T
    return {temp.index[i]:int(temp.values[i]) for i in range(0,temp.shape[0])}



arg_cat_counts=count_critere(data_grads, 'Major_category', 'Total')
aa_car_counts=count_critere(data_ages, 'Major_category', 'Total')

In [219]:
arg_cat_counts

{'Agriculture & Natural Resources': 79981,
 'Arts': 357130,
 'Biology & Life Science': 453862,
 'Business': 1302376,
 'Communications & Journalism': 392601,
 'Computers & Mathematics': 299008,
 'Education': 559129,
 'Engineering': 537583,
 'Health': 463230,
 'Humanities & Liberal Arts': 713468,
 'Industrial Arts & Consumer Services': 229792,
 'Interdisciplinary': 12296,
 'Law & Public Policy': 179107,
 'Physical Sciences': 185479,
 'Psychology & Social Work': 481007,
 'Social Science': 529966}

In [220]:
aa_car_counts

{'Agriculture & Natural Resources': 79981,
 'Arts': 357130,
 'Biology & Life Science': 453862,
 'Business': 1302376,
 'Communications & Journalism': 392601,
 'Computers & Mathematics': 299008,
 'Education': 559129,
 'Engineering': 537583,
 'Health': 463230,
 'Humanities & Liberal Arts': 713468,
 'Industrial Arts & Consumer Services': 229792,
 'Interdisciplinary': 12296,
 'Law & Public Policy': 179107,
 'Physical Sciences': 185479,
 'Psychology & Social Work': 481007,
 'Social Science': 529966}

#Taux des jobs à faible salaire

- Utiliser les colonnes " Low_wage_jobs " et "Total" pour calculer la
proportion de jeunes diplômés qui ont du trouver des jobs à faible
salaire ( recent_grad)
    -  Souvenez vous que vous pouvez utiliser la méthode Series.sum () pour
retourner la somme des valeurs d'une colonne
- Stocker le résultat dans la variable low_wage_proportion et afficher
le.

In [221]:
#data_grads['Low_wage_jobs']=data_grads['Low_wage_jobs']/data_grads['Total']*100

low_wage_proportion=(data_grads['Low_wage_jobs'].sum())/(data_grads['Total'].sum())
low_wage_proportion

0.09852546076122913

In [222]:
data_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

#Comparer des datasets

- Utiliser une boucle for pour parcourir toutes les majors.
- Pour chaque Major et chaque DataFrame , filtrer seulement les lignes du
DataFrame correspondant à cette major
- Comparer les valeurs pour la colonne " Unemployment_rate " pour voir lequel
des 2 DataFrames possèdent la valeur la plus basse
- Incrémenter ( cad ajouter 1) à la variable rg_lower_count si la valeur pour
Unemployment_rate est plus petite dans le dataframe recent_grads que dans
le dataframe all_ages
- Afficher le résultat rg_lower_count

In [231]:
rg_lower_count=0
# Itérations sur chacune des valeurs uniques de 'major' dans le dataset 'data_ages':

for major in data_ages['Major'].unique():
    # vérification si la valeur 'major' est bien inclus dans le dataset 'data_grads':
    if major in data_grads['Major'].values:
        
        dataset1=data_grads['Unemployment_rate'][data_grads['Major']==major]
        dataset2=data_ages['Unemployment_rate'][data_ages['Major']==major]
        if dataset1.iloc[0]<dataset2.iloc[0]:
            rg_lower_count+=1 
print(rg_lower_count)

42